<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Statistics</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Price');
      data.addRows([
        /*[# th:each="row : ${chartData}"]*/
        [[${row}]],
        /*[/]*/
      ]);

      var options = {
        // title: 'Company Performance',
        curveType: 'function',
        legend: { position: 'bottom' },
        vAxes: {
          0: {title: 'Price (RUB)'},
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
    }
  </script>
</head>
<body style="background-color: rgb(33,37,41)">
<table class="table" style="table-layout: fixed">
  <thead class="thead-dark">
  <tr>
    <th scope="col" style="text-align: center">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownCarModel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Car model:</a>
        <div class="dropdown-menu" aria-labelledby="dropdownCarModel">
          <a class="dropdown-item" th:href="@{/statistics}">All cars</a>
          <div th:each="link:${links}">
            <a class="dropdown-item" th:href="@{/model} +'/'+ ${link.description} +'/statistics'" th:text="${link.description}"></a>
          </div>
        </div>
      </div>
    </th>
    <th scope="col" style="text-align: center">
      <div style="color: aliceblue"><h3 th:text="${chartTitle}">Car Chart</h3></div>
    </th>
    <th scope="col" style="text-align: center">
      <a th:href="@{/}">
        <button type="button" class="btn btn-secondary">Home</button>
      </a>
    </th>
  </tr>
  </thead>
</table>
<div class="container my-2" align="center">
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
